@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montserrat;
  src: url("../font/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Kumbh;
  src: url("../font/KumbhSans-Regular.ttf");
}

@layer components {
  html {
    @apply h-screen;
  }
  body {
    @apply bg-BlueCharcoal bg-[url('../images/background-stars.svg')] bg-cover text-white;
  }
  .navbar_desktop {
    @apply list-none px-3 py-5 font-Montserrat text-sm uppercase;
  }
  .navbar_mobile {
    @apply list-none font-bold uppercase;
  }
  .section_heading {
    @apply ml-28 font-Montserrat text-3xl uppercase;
  }
  .section_paragraph {
    @apply ml-28 mt-3 font-Kumbh text-lg capitalize tracking-widest;
  }
  .stack_heading {
    @apply mt-3 font-Kumbh text-base uppercase tracking-widest;
  }
  .icon_design {
    @apply bg-Bossanova flex h-16 w-16 items-center rounded-lg p-1;
  }
}
